:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;
    border-bottom: 1px solid var(--very-light-pink);
}
body {
    font-family: 'Quicksand', sans-serif;
}
.menu{
    display: none;
}
.logo {
    width: 10rem;

}
.navbar-left ul, .navbar-right ul{
    list-style: none;
    margin-top: 1.5rem;
    display: flex;
    align-content: center;
    height: 6rem;
}
.navbar-left {
    display: flex;
    
}
.navbar-left  ul {
    margin-left: 1.2rem;
}
.navbar-left ul li a, .navbar-right ul li a{
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 0.8rem;
    border-radius: 0.8rem;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 1.2rem;
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart div{
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -0.6rem;
    right: -0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:640px) {
    .menu{
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .email {
        display: none;
    }
}

